* {
  font-family: 'Courier New', Courier, monospace;
}

html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  overflow: hidden;
  background-color: #389393;
}

canvas {
  border-radius: 10px;
  border: 1px solid black;
}

#container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 1em;
}

#navigation {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  margin-top: 1.2em;
}

.text {
  place-self: center;
  color: white;
  visibility: hidden;
}

.menu {
  display: flex;
  justify-content: center;
  place-self: center;
  height: 60%;
}

#select {
  padding: 0.4em 1em;
  color: #333333;
  background-color: #eeeeee;
  border: 0;
  cursor: pointer;
  border-radius: 5px;
  margin-right: 1em;
}

button {  
  background-color: #f5a25d;
  border: 1px solid black;
  border-radius: 6px;
  margin-right: 1em;
  cursor: pointer;
}

.github {
  text-decoration: none;
  justify-self: start;
  color: white;
}

.github:hover {
  color: #f5a25d;
}